# Node
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log*

# Hardhat
artifacts/
cache/
coverage/
cov/
typechain-types/
.env
.opendzeppelin/

# Frontend
client/node_modules/
client/dist/
client/.env
client/.env.local
.DS_Store

# IDE
.vscode/
.idea/
